html {
  /* content stays responsive */
  box-sizing: border-box;
  font-family: "Source Serif Pro", serif;
  line-height: 1.5;
}
/* adding above property to all the elements by default */
* {
  box-sizing: inherit;
}

img {
  width: 100%;
}

body {
  margin: 0;
}

h1, h2, h3, h4 {
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  line-height: 1.5em;
}


/* How do I enter proper em/rem sizes? Can I do directly in pixel amounts? */
h1 {
  margin: 0;
  font-weight: 800;
  font-size: 5.063rem;
}

h2 {
  font-weight: 500;
  font-size: 3.375rem;
}

h3 {
  font-size: 2.25rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  margin: 0;
  font-weight: bold;
  font-size: 1rem;
  line-height: 1.5em;
}

p {
  margin: 0;
}

section {
  /* Spacing not quite correct. */
  margin: 4.5rem 1.5rem;
}

main section:first-of-type {
  margin-top: 1.5rem;
}

main section:last-child {
  margin-bottom: 1.5rem;
}

.hero-banner {
  /* I'll have to make a new image and have the background image be an img. Ill attatch it to the bottom of the thing as position relative. */
  background-color: #000;
  background-image: url("../images/hero-banner-background.svg");
  background-position: bottom;
  background-size: contain;
  background-repeat: no-repeat;
  color: #fff;
  padding: 1.5rem;
  padding-bottom: 9rem;
  /* Should I be using flex for this? */
  display: flex;
  flex-direction: column-reverse;
  gap: 0;
  height: 200%;
}

.hero-banner > img {
  max-height: 12rem;
  animation: fade-in 1.5s ease-in-out 0s 1;
  margin: auto;
}

@keyframes fade-in {
  0% {
    opacity: 0%;
    transform: translateY(50px);
  }
  100% {
    opacity: 100%;
    transform: translateY(0);
  }
}

.other-banner {
  padding: 1.5rem;
  background-color: #000;
  color: #fff;
}

header {
  background-color: #fff;
  padding: 1rem 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 2;
  box-shadow: 0 10px 10px rgb(0, 0, 0, 0.2);
}

.logo {
  display: inline-block;
  width: 2.5rem;
  height: auto;
}

.nav-toggle {
  display: none;
}

.nav-toggle-label {
  position: absolute;
  top: 0;
  right: 0;
  padding: 1.5rem;
}

/* Currently not letting me change font size. Seems to be some sort of
default styling that comes with the icon (check inspect eleemnt for
more details) Need help. */
.material-icons-outlined {
  font-size: 2.25rem;
}

.nav-toggle-label .exit {
  transition: display 0.5s ease;
  display: none;
}

/* Not sure why this needs 200%. */
.nav-toggle:checked ~ nav {
  max-height: 200%;
}

/* Switches between menu and close icon */
.nav-toggle:checked ~ .nav-toggle-label .menu {
  display: none;
}

.nav-toggle:checked ~ .nav-toggle-label .exit {
  display: block;
}

.nav-toggle:checked ~ .exit {
  display: block;
}

.nav-toggle-label:hover {
  color: #ed2024;
}

nav {
  top: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  background-color: #fff;
  overflow: hidden;
  max-height: 0;
  transform-origin: top;
  transition: max-height 0.5s ease;
  box-shadow: 0 10px 10px rgb(0, 0, 0, 0.2);
}

nav ul {
  list-style-type: none;
  margin: auto 0;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1.5rem;
  align-items: flex-end;
}

nav li a {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  color: #000;
  text-align: right;
}

nav li a:hover {
  color: #ed2024;
}

.banner-text a {
  display: block;
  width: 100%;
  padding: 1rem;
  text-decoration: none;
  text-align: center;
  background-color: #ed2024;
  color: #fff;
  border: 1px solid #ed2024;
}

.banner-text a:hover {
  background-color: #fff;
  color: #ed2024;
}

.preview ol {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.cards ul {
  margin: 0;
  list-style-type: none;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1.5rem;
}

.cards ul li {
  background-color: #000;
  color: #fff;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.cards a {
  text-decoration: none;
  font-family: "poppins", sans-serif;
  font-weight: 700;
  text-align: center;
  margin-top: auto;
}

/* Do I need any buttons? */
.cards button, .cards a {
  font-size: 1.5rem;
  font-weight: 700;
  width: 100%;
  padding: 1rem;
  background-color: #ed2024;
  color: #fff;
  border: 1px solid #ed2024;
}

.cards button:hover, .cards a:hover{
  background-color: #fff;
  color: #ed2024;
}

/* The following styling is for the ABOUT page */

.info-img-wrap {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.info-img-wrap p, .info-img-wrap img {
  flex-basis: 0;
  flex-grow: 1;
}

.info-img-wrap img {
  object-fit: cover;
  max-height: 100%;
}

.more-book-wrapper {
  display: grid;
  grid-template-areas:
  "top top"
  "middle middle"
  "bottom bottom";
  gap: 1.5rem;
}

.more-book-wrapper p {
  grid-area: top;
}

.more-book-wrapper img {
  grid-area: middle;
  object-fit: cover;
  height: 100%;
}

.more-book-wrapper .specs {
  grid-area: bottom;
}

.specs-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1.5rem;
}

.specs-wrapper dl {
  margin: 0;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: repeat(5, auto);
}

.specs-wrapper dd {
  text-align: right;
}

.specs-wrapper dt {
  font-weight: normal;
}

footer {
  font-family: "poppins", sans-serif;
  padding: 1.5rem;
  background-color: #000;
  color: #fff;
}

footer .contact-wrapper {
  display: grid;
  grid-template-areas:
  "contact-top"
  "contact-middle"
  "contact-bottom";
  gap: 1.5rem;
  margin: 1.5rem 0;
  margin-bottom: 4.5rem;
}

.contact-wrapper .contact-address {
  grid-area: contact-middle;
}

.contact-wrapper .contact-hours {
  grid-area: contact-bottom;
}

.contact-wrapper ul {
  margin: 0;
  grid-area: contact-top;
}

.contact-hours dl {
  margin: 0;
}

footer a {
  text-decoration: none;
  color: #fff;
}

footer a:hover {
  text-decoration: underline;
}

footer em, dt, small {
  font-style: normal;
  font-weight: 700;
}

footer dd {
  margin: 0;
}

footer ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: space-around;
  order: -1;
}

footer li img {
  /* Size is still wrong; should be double. */
  width: 1.5rem;
  height: 1.5rem;
}

footer small {
  display: block;
  text-align: center;
}

/* Following css styling for shop page */
.your-cart {
  font-family: "poppins", sans-serif;
}

.cart-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.cart-info p {
  margin: auto 0;
}

.cart-items {
  margin: -1px 0;
}

/* is a grid necessary here? */
.cart-item-row {
  display: grid;
  grid-template-columns: auto 3rem;
  grid-template-rows: 1fr;
  outline: 1px solid #000;
  margin: 1px 1px;
}

.cart-item-info {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cart-item-detailed {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 auto;
}

.item-price {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  line-height: 1.5rem;
  margin-left: 1.5rem;
  align-self: center;
}

.remove-item {
  background-color: #000;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 700;
  border: 1px solid #000;
  margin: -1px;
}

.remove-item:hover {
  color: #ed2024;
}

.item-quantity {
  border: 1px solid #000;
}

.checkout-button h3 {
  margin: 0;
}

.checkout-button {
  background-color: #ed2024;
  color: #fff;
  border: none;
  padding: 1.5rem;
  border: 1px solid #ed2024;
  width: 100%;
}

.checkout-button:hover {
  background-color: #fff;
  color: #ed2024;
}

@media only screen and (min-width:42rem) {
  html {
    font-size: 1.1rem;
  }

  main > section {
    margin: 4.5rem 5rem;
  }

  main > .hero-banner, main > .other-banner {
    padding: 1.5rem 5rem;
    padding-bottom: 5.063rem;
  }

  footer {
    padding: 1.5rem 5rem;
  }

  header {
    flex-direction: row;
    padding: 1.5rem 5rem;
    box-shadow: 0 10px 10px rgb(0, 0, 0, 0.2);
  }

  nav {
    top: 0;
    overflow: visible;
  }

  .nav-toggle-label {
    display: none;
  }

  nav ul {
    flex-direction: row;
    justify-content: flex-end;
    padding: 1.5rem 5rem;
  }

  .hero-banner {
    flex-direction: row;
    gap: 1.5rem;
  }

  .hero-banner img, .banner-text {
    flex-basis: 0;
    flex-grow: 1;
  }

  .hero-banner > img {
    max-height: 15rem;
  }

  .info-img-wrap {
    flex-direction: row;
  }

  .info-img-wrap img {
    max-height: 18rem;
  }

  .more-reversed {
    flex-direction: row-reverse;
  }

  .specs-wrapper {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }

  .preview ol {
    flex-direction: row;
  }

  .cards ul {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }

  .cart-item-info {
    flex-direction: row;
  }

  .more-book-wrapper {
    grid-template-areas:
    "left top"
    "bottom bottom";
    grid-template-columns: 1fr 1fr;
  }

  .more-book-wrapper p {
    grid-area: top;
  }

  .more-book-wrapper img {
    grid-area: left;
  }

  .more-book-wrapper .specs {
    grid-area: bottom;
  }

  footer .contact-wrapper {
    grid-template-areas:
    "contact-top-left contact-top-right"
    "contact-bottom-left contact-bottom-right";
  }

  .contact-wrapper .contact-address {
    grid-area: contact-top-left;
  }

  .contact-wrapper .contact-hours {
    grid-area: contact-bottom-left;
  }

  .contact-wrapper ul {
    grid-area: contact-top-right;
  }
}

@media only screen and (min-width:70rem) {
  html {
    font-size: 1.2rem;
  }

  main > section {
    margin: 4.5rem 9rem;
  }

  main > .hero-banner, main > .other-banner {
    padding: 1.5rem 9rem;
    padding-bottom: 5.063rem;
  }

  header, nav ul {
    padding: 1.5rem 9rem;
  }

  footer {
    padding: 1.5rem 9rem;
  }

  .cards ul {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .hero-banner > img {
    max-height: 18rem;
  }

  .more-book-wrapper {
    grid-template-areas:
    "left top top"
    "left bottom bottom";
    grid-template-columns: 1fr 1fr 1fr;
  }

  footer .contact-wrapper {
    grid-template-areas:
    "contact-left contact-middle contact-right";
  }

  .contact-wrapper .contact-address {
    grid-area: contact-left;
  }

  .contact-wrapper .contact-hours {
    grid-area: contact-middle;
  }

  .contact-wrapper ul {
    grid-area: contact-right;
  }
}
