html {
    /* content stays responsive */
    box-sizing: border-box;
    font-family: "Source Serif Pro", serif;
    line-height: 1.5;
  }
  /* adding above property to all the elements by default */
  * {
    box-sizing: inherit;
  }

img {
  width: 100%;
}

body {
  margin: 0;
}

h1, h2, h3, h4 {
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  line-height: 1.5em;
}


/* How do I enter proper em/rem sizes? Can I do directly in pixel amounts? */
h1 {
  margin: 0;
  font-weight: 800;
  font-size: 5.063rem;
}

h2 {
  font-weight: 500;
  font-size: 3.375rem;
}

h3 {
  font-size: 2.25rem;
}

h4 {
  font-size: 1.5rem;
}

p {
  margin: 0;
}

section {
  /* Spacing not quite correct. */
  margin: 4.5rem 1.5rem;
}

.hero-banner {
  background-color: #000;
  color: #fff;
  padding: 1.5rem;
  /* Should I be using flex for this? */
  display: flex;
  flex-direction: column-reverse;
}

.hero-banner > img {
  animation: fade-in 1.5s ease-in-out 0s 1;
}

@keyframes fade-in {
  0% {
    opacity: 0%;
    transform: translateY(50px);
  }
  100% {
    opacity: 100%;
    transform: translateY(0);
  }
}

.other-banner {
  padding: 1.5rem;
  background-color: #000;
  color: #fff;
}

header {
  padding: 1rem 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logo {
  width: 3rem;
  height: auto;
}

nav {
  display: none;
}

input.nav-toggle:checked ~ nav {
  display: block;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1.5rem;
}

nav li a {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  color: #000;
}

nav li a:hover {
  color: #ed2024;
}

.banner-text a {
  display: block;
  width: 100%;
  padding: 1rem;
  text-decoration: none;
  text-align: center;
  background-color: #ed2024;
  color: #fff;
  border: 1px solid #ed2024;
}

.banner-text a:hover {
  background-color: #fff;
  color: #ed2024;
}

.replacing-jane {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.replacing-jane p, .replacing-jane img {
  flex-basis: 0;
  flex-grow: 1;
}

.preview ol {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.cards ul {
  margin: 0;
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.cards ul li {
  background-color: #000;
  color: #fff;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.cards a {
  text-decoration: none;
  font-family: "poppins", sans-serif;
  font-weight: 700;
  text-align: center;
}

/* Do I need any buttons? */
.cards button, .cards a {
  font-size: 1.5rem;
  font-weight: 700;
  width: 100%;
  padding: 1rem;
  background-color: #ed2024;
  color: #fff;
  border: 1px solid #ed2024;
}

.cards button:hover, .cards a:hover{
  background-color: #fff;
  color: #ed2024;
}

footer {
  font-family: "poppins", sans-serif;
  padding: 1.5rem;
  background-color: #000;
  color: #fff;
}

footer .contact-wrapper {
  display: flex;
  flex-direction: column;
}

footer a {
  text-decoration: none;
  color: #fff;
}

footer a:hover {
  text-decoration: underline;
}

footer em, dt, small {
  font-style: normal;
  font-weight: 700;
}

footer dd {
  margin: 0;
}

footer ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: space-around;
  order: -1;
}

footer li img {
  /* Size is still wrong; should be double. */
  width: 1.5rem;
  height: 1.5rem;
}

footer small {
  display: block;
  text-align: center;
}

/* Following css styling for shop page */
.your-cart {
  font-family: "poppins", sans-serif;
}

.cart-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.cart-info p {
  margin: auto 0;
}

.cart-items {
  margin: -1px 0;
}

/* is a grid necessary here? */
.cart-item-row {
  display: grid;
  grid-template-columns: auto 3rem;
  grid-template-rows: 1fr;
  outline: 1px solid #000;
  margin: 1px 1px;
}

.cart-item-info {
    padding: 1.5rem;
}

.cart-item-detailed {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.item-price {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  line-height: 1.5rem;
}

.remove-item {
  background-color: #000;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 700;
  border: 1px solid #000;
  margin: -1px;
}

.remove-item:hover {
  color: #ed2024;
}

.checkout-button h3 {
  margin: 0;
}

.checkout-button {
  background-color: #ed2024;
  color: #fff;
  border: none;
  padding: 1.5rem;
  border: 1px solid #ed2024;
  width: 100%;
}

.checkout-button:hover {
  background-color: #fff;
  color: #ed2024;
}

/* Media queries
nav ul {
flex-direction: row;
} */
